
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
#
symfony_quick_tour_base.sublime-project
symfony_quick_tour_base.sublime-workspace
deploy.php
